# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
local_settings.py

# Log files
*.log

# Database files
*.db
*.sqlite3
db.sqlite3

# Media files
media/

# Static files
staticfiles/

# Virtual environment
venv/

# PyCharm .idea
.idea/